*{
    margin:0px;
    padding:0px;
}

.wrapper{ border:3px solid red;
        margin:5px 90px;
        }

.header{
    background-color: darkcyan;
    height:120px;
    border: solid black 6px;
}

.main-nav{
    background-color: aquamarine;
    height: 60px;
    border:solid blueviolet 5px;
}

.content{
    background-color: antiquewhite;
    min-height: 300px;          overflow: auto;
    padding:10px 50px;
    font-size: 24px;            color: rgb(19, 93, 93);
   outline: 2px groove yellowgreen;
}

.footer{
    background-color: cadetblue;
    height:40px;
}
