body{
    margin: 0;
    font-family: cursive;

}
h1{
    text-align: center;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.color-container{
    background-color: pink;
    width: 300px;
    height: 150px;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-shadow: 2px 4px 4px rgba(11,11,11,0.4);
    border: solid rgb(9, 9, 40) 2px;
    border-radius: 10px;
}